APP_NAME=ILA_GW
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=ja
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=ja_JP

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single,database
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=_459_ila_gateway
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
#QUEUE_CONNECTION=redis
QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# メール送信元
MAIL_FROM_ADDRESS='info@mir-ai.co.jp'
MAIL_FROM_NAME='株式会社ミライエ'

#MAIL_MAILER=log
#MAIL_SCHEME=null
#MAIL_HOST=127.0.0.1
#MAIL_PORT=2525
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_FROM_ADDRESS="hello@example.com"
#MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-1
AWS_BUCKET=miraie-public-ss-assets
AWS_BUCKET_CDN=miraie-public-ss-assets
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=
AWS_ENDPOINT
AWS_USE_PATH_STYLE_ENDPOINT=false
VITE_APP_NAME="${APP_NAME}"

# Laravel DEBUG BAR
APP_DEBUG=false

# Deprecations Log Channel
LOG_DEPRECATIONS_CHANNEL=stack

# Log database connection
DB_LOG_CONNECTION=mariadb_log

# Log database table
DB_LOG_TABLE=mir_laravel_logs

# メール送信先
MAIL_ADMIN_TO='obata@mir-ai.co.jp'

# フッター
FOOTER_CREDIT="Copyright i La inc. All Rights Reserved."

# favicon URL
FAVICON_FORCE_URL=

# サイト名
APP_NAME_JP="ささえi外部連携サーバ"

# ヘッダー画像URL
HEAD_LOGO_IMG_URL=

# CloudFront版のS3プレフィックス
CLOUD_FRONT_PREFIX=dixodkvu8bs5i.cloudfront.net

# S3版のURLプレフィックス
S3_PREFIX=https://miraie-public-ss-assets.s3.ap-northeast-1.amazonaws.com

# AUTH
BASIC_AUTH_USERNAME=1111
BASIC_AUTH_PASSWORD=1111

# アプリコード
APP_CODE=ANPIv4

HEAD_LOGO_IMG_URL=https://ss-a-alert.s3.ap-northeast-1.amazonaws.com/config/500010_ila/ila-32.png
WELCOME_IMG_URL=https://ss-a-alert.s3.ap-northeast-1.amazonaws.com/config/500010_ila/ila-300.png

# みまもり管理者へのメールを配信開始する時間
MAIL_DELIVERY_TIME=11:00:00

# メール送信設定
SES_REGION=ap-northeast-1
SES_KEY=
SES_SECRET=
MAIL_FROM_ADDRESS=info@a-alert.net
MAIL_FROM_NAME="ささえiゲートウェイ"

# アイラAPI
GET_ATTRIBUTE_GROUP_API_URL='https://api.stg-admin.bothub2.cloud/api/public/v1/getAttributeGroups'
CREATE_NOTICE_API_URL='https://api.stg-admin.bothub2.cloud/api/public/v1/createNotice'
GET_LOCATION_API_URL='https://api.stg-admin.bothub2.cloud/api/public/v1/getLocations'
